.Options-container {
  text-align: center;
}

.Options-container > .options-list > ol {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table  {
  display: inline-block;
  /* list-style-type: none; */
  /* border: 1px solid black; */
  /* border-collapse: collapse */
}

td {
  /* height: 20px; */
  padding: 5px
}

.remove {
  text-decoration: underline;
  color: blue;
}

.remove:hover {
  cursor: pointer
}
