.Saved-groups-container {
  text-align: center;
}

.Saved-groups-container > .saved-groups-list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .Saved-groups-container > ul {
  display: inline-block;
} */

.Saved-groups-container > .saved-groups-list > li > .options-list {
  display: inline-block;
}

.options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 25vw;
  padding-right: 25vw;
}

.saved-option {
  margin-top: 10px;
  margin-bottom: 10px;
  hyphens: auto
}
